/* BUILT-IN FUNCTIONS */

/* Darken */
.sidebar
    background-color darken(red, 10%)

/* Lighten */
.container
    background-color lighten(blue, 80%)

/* RGBA */
.footer
    background-color rgba(white, .5)

/* Range */
for i in range(0px, 25px, 5)
    .p-t-{i}
        padding-top i

/* Prefix Classes */
+prefix-classes('col-')
    .xs-1
    .xs-2
    .xs-3
    .xs-4
    .xs-5
        display inline-block
