/* BUILT-IN FUNCTIONS */
/*http://stylus-lang.com/docs/bifs.html */

/* Darken */
.sidebar
    background-color darken(red, 10%)

/* Lighten */
.container
    background-color lighten(blue, 80%)

/* RGBA */
.footer
    background-color rgba(white, .5)

/* Range */
for i in range(0px, 25px, 5)
    .p-t-{i}
        padding-top i

/* Prefix Classes */
+prefix-classes('col-')
    .xs-1
    .xs-2
    .xs-3
    .xs-4
    .xs-5
    .xs-6
    .xs-7
    .xs-8
    .xs-9
    .xs-10
    .xs-11
    .xs-12
        display inline-block
