.alert
    display          inline-block
    border-radius    3px
    padding          5px
    color            #fff
    background-color blue

.alert-success
    @extend          .alert
    background-color green

.alert-danger
    @extend          .alert
    color            #fff
    background-color red