/* SELECTORS */
/* http://stylus-lang.com/docs/selectors.html */

/* Indentation */
body
  color white

textarea
input
    border 1px solid #EEE

/* Parent  Reference */
.btn
a.btn
    color #a7a7a7

    &:hover
        color #000

    > span
        font-size 10px

.menu
    border 2px #f00 solid

    .home &
        border 2px #000 solid

/* Partial Reference */
.list
    list-style none

    &__item
        text-decoration underline