/* VARIABLES */

font-size     = 1.4em
font-family   = "Open Sans", Arial, sans-serif
primary-color = #ccc

body
    font  font-size font-family
    color primary-color

/* Property Lookup */
.logo
    position    absolute
    top         50%
    left        50%
    width       150px
    height      80px
    margin-left -(@width / 2)
    margin-top  -(@height / 2)

/* Conditional properties */
position()
    z-index  1 unless @z-index
    position arguments

.header
    z-index  20
    position(absolute)

.header-home
    position(absolute)