/* VARIABLES */
/* http://stylus-lang.com/docs/variables.html */

font-size     = 1.4em
font          = font-size "Open Sans", Arial
primary-color = #ccc


body
    font  font, sans-serif
    color primary-color

/* Property Lookup */
.header
    width 150px

    .logo
        position    absolute
        top         50%
        left        50%
        height      80px
        margin-left -(@width / 2)
        margin-top  -(@height / 2)

/* Conditional properties */
position()
    z-index  1 unless @z-index
    position arguments

.header
    z-index  20
    position(absolute)

.header-home
    position(absolute)